
.form-login {
    height: 400px !important;
}
.form-signup {
    height: 85%;
}
form .close-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    cursor: pointer;
    color: black;
}
form .close-icon:hover {
    transform: scale(1.1);
}
form .form-icon {
    color: rgb(29, 155, 240);
    font-size: 40px;
}

