.container {
  display: flex;
  height: 100vh;
  background-color: black;
  /* width: 10; */
  color: #fff;
}
.left {
  flex: 1;
  background: dark;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.left .element-container {
  width: 238px;
  display: flex;
  flex-direction: column;
  /* border: 2px solid white; */
  gap: 30px;
}
.left .element {
  display: flex;
  gap: 30px;
  font-size: 20px;
}
.left .first {
  font-size: 38px;
  color: #1d9bf0;
  margin-bottom: 2px;
}
.left .element .logo {
  font-size: 30px;
}

.left button {
  background: rgb(29, 155, 240);
  box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
  border: none;
  padding: 16px 2px;
  margin-right: 25px;
  border-radius: 50px;
  color: #ffff;
  font-size: 17px;
  font-weight: bold;
}

.center {
  overflow-y: scroll;
  flex: 2;
  background-color: dark;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  position: relative;
}
.center .header {
  position: fixed;
  width: 50%;
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  border-bottom: solid 1px white;
  padding-bottom: 2%;
  background-color: rgba(0, 0, 0, 0.7);
}
/* .center .body { */
/* margin-top: 42.6px; */
/* height: calc(100vh - 60px); */
/* } */
.center .body .tweet {
  border-bottom: 0.5px solid #2f3336;
  height: 15%;
}
.center .body .input {
  margin-top: 15%;
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}
.center .body .input button {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  font-size: 20px;
  color: #ffff;
  background-color: rgb(201, 116, 116);
  border: none;
}
.center .body .input input {
  border: none;
  outline: none;
  width: 80%;
  background-color: black;
  font-size: 20px;
  padding-left: 15px;
  color: #ffff;
}
.center .body .send {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 2%;
}
.center .body .send button {
  background: rgb(29, 155, 240);
  box-shadow: rgb(0 0 0 / 8%) 0px 8px 28px;
  border: none;
  padding: 10px 20px;
  margin-right: 25px;
  border-radius: 50px;
  color: #ffff;
  font-size: 18px;
  font-weight: bold;
}
.center .unloggedTweets {
  line-height: 2;
}
.right {
  flex: 1;
  background: black;
}

.loggedTweets {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 4%; */
  border-bottom: #2f3336 2px solid;
}

.loggedTweets .content {
  align-self: flex-start;
  margin: 5% 0 0 10%;
}

.loggedTweets .content h3,
p {
  color: white;
}

.tweet-actions {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}

.tweet-actions div {
  padding: 15px;
  border: 2px solid white;
}
